{% extends "global/Page.html" %}{% load otree %} {% block title %} <center>Feedback</center> {% endblock %} {% block content %}

<p style="line-height:1.7;font-size:20px">The actual value is <font color =\'#006400\'>{{ correct}}</font>. </p>
{%if q11 != "(skipped)" and q12 != "(skipped)"%}
    {{ Q }}
    {% if correct <= q12 and q11 <= correct %}
    <p style="line-height:1.7;font-size:20px">Your interval covers the actual value! {% if correct <= q12 and q11 <= correct %} &#9989;.{% else %} &#10060;. {% endif %}</p>
    {% else %}
    <p style="line-height:1.7;font-size:20px">Unfortunately, your interval does not cover the actual value. {% if correct <= q12 and q11 <= correct %} &#9989;.{% else %} &#10060;. {% endif %}</p>
    {% endif%}
{%else%}
{%endif%}

<center>{% next_button %}</center>

{% endblock %}
