{% extends "global/Page.html" %}{% load otree %} {% block title %} <center></center> {% endblock %} {% block content %}


{% autoescape off %}

<!--<center>-->
<!--<p style="line-height:1.7;font-size:17px">-->
<!--  How do you think, which summary was written by Chat GPT?-->
<!--</p>-->
<!--</center><br>-->

<!--<center>-->
<!--<button type="button" class="btn btn-info" id="sum1" style="-->
<!--    background-color: #04AA6D;-->
<!--    color: black;-->
<!--    text-align:center;-->
<!--    text-decoration:none';-->
<!--    display:inline-block;-->
<!--    border-radius: 12px;-->
<!--&lt;!&ndash;    transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -webkit-transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -ms-transform: skew(-30deg);&ndash;&gt;-->
<!--">-->
<!--    Click to see the text of Summary 1-->
<!--</button>-->
<!--</center>-->
<!--<p id="Summary1" style="line-height:1.7;font-size:17px"><b> </b></p>-->

<!--<script>-->
<!--    const MyButton = document.getElementById('sum1');-->
<!--    MyButton.addEventListener('click', function() {-->
<!--        document.getElementById('Summary1').innerText = "loreafnkeafioea feai ofeam fea fae oea oreafnkeafioea feai ofeam fea fae ooreafnkeafioea feai ofeam fea fae ooreafnkeafioea feai ofeam fea fae ooreafnkeafioea feai ofeam fea fae ooreafnkeafioea feai ofeaafnkeafioea feai ofeam fea fae oo a s as feai ofeam fea fae o"-->
<!--    })-->
<!--</script>-->

<!--<center>-->
<!--<button type="button" class="btn btn-info" id="sum2" style="-->
<!--    background-color: #04AA6D;-->
<!--    color: black;-->
<!--    text-align:center;-->
<!--    text-decoration:none';-->
<!--    display:inline-block;-->
<!--    border-radius: 12px;-->
<!--&lt;!&ndash;    transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -webkit-transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -ms-transform: skew(-30deg);&ndash;&gt;-->
<!--">-->
<!--    Click to see the text of Summary 2-->
<!--</button>-->
<!--</center>-->
<!--<p id="Summary2" style="line-height:1.7;font-size:17px"><b> </b></p>-->

<!--<script>-->
<!--    const MyButton2 = document.getElementById('sum2');-->
<!--    MyButton2.addEventListener('click', function() {-->
<!--        document.getElementById('Summary2').innerText = "it is possible for planets in binary star systems to support life. According to a Wikipedia article, planets in binary star systems may be candidates for supporting extraterrestrial life. The habitability of binary star systems is determined by many factors from a variety of sources. Typical estimates often suggest that 50% or more of all star systems are binary systems. In fact, researchers have identified five double star systems potentially suitable for life. Current estimates suggest that 50-60% of known binary systems are capable of supporting life–that is, their planets, if they have any, would be both in habitable and orbitally stable zones. However, the habitability of binary star systems is determined by many factors from a variety of sources."-->
<!--    })-->
<!--</script>-->

<!--<center>-->
<!--<button type="button" class="btn btn-info" id="sum3" style="-->
<!--    background-color: #04AA6D;-->
<!--    color: black;-->
<!--    text-align:center;-->
<!--    text-decoration:none';-->
<!--    display:inline-block;-->
<!--    border-radius: 12px;-->
<!--&lt;!&ndash;    transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -webkit-transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -ms-transform: skew(-30deg);&ndash;&gt;-->
<!--">-->
<!--    Click to see the text of Summary 3-->
<!--</button>-->
<!--</center>-->
<!--<p id="Summary3" style="line-height:1.7;font-size:17px"><b> </b></p>-->

<!--<script>-->
<!--    const MyButton3 = document.getElementById('sum3');-->
<!--    MyButton3.addEventListener('click', function() {-->
<!--        document.getElementById('Summary3').innerText = "Mam dwadzieścia cztery lata Ocalałem Prowadzony na rzeź To są nazwy puste i jednoznaczne: Człowiek i zwierzę Miłość i nienawiść Wróg i przyjaciel Ciemność i światło. Człowieka tak się zabija jak zwierzę Widziałem: furgoń pozbawionych życia ludzi Którzy nie zostaną zbawieni. Pojęcia są tylko wyrazami: Cnota i występek Prawda i kłamstwo Piękno i brzydota Męstwo i tchórzostwo. Jednak waży cnota i występek Widziałem: człowieka, który był jednym Występnym i cnotliwym. Słyszałem: “Nie zabijaj” I jestem żywy do dziś."-->
<!--    })-->
<!--</script>-->

<!--<center>-->
<!--<button type="button" class="btn btn-info" id="sum4" style="-->
<!--    background-color: #04AA6D;-->
<!--    color: black;-->
<!--    text-align:center;-->
<!--    text-decoration:none';-->
<!--    display:inline-block;-->
<!--    border-radius: 12px;-->
<!--&lt;!&ndash;    transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -webkit-transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -ms-transform: skew(-30deg);&ndash;&gt;-->
<!--">-->
<!--    Click to see the text of Summary 4-->
<!--</button>-->
<!--</center>-->
<!--<p id="Summary4" style="line-height:1.7;font-size:17px"><b> </b></p>-->
<!--<script>-->
<!--    const MyButton4 = document.getElementById('sum4');-->
<!--    MyButton4.addEventListener('click', function() {-->
<!--        document.getElementById('Summary4').innerText = "still surprised this worked"-->
<!--    })-->
<!--</script>-->

<!--<center>-->
<!--<button type="button" class="btn btn-info" id="sum5" style="-->
<!--    background-color: #04AA6D;-->
<!--    color: black;-->
<!--    text-align:center;-->
<!--    text-decoration:none';-->
<!--    display:inline-block;-->
<!--    border-radius: 12px;-->
<!--&lt;!&ndash;    transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -webkit-transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -ms-transform: skew(-30deg);&ndash;&gt;-->
<!--">-->
<!--    Click to see the text of Summary 5-->
<!--</button>-->
<!--</center>-->
<!--<p id="Summary5" style="line-height:1.7;font-size:17px"><b> </b></p>-->

<!--<script>-->
<!--    const MyButton5 = document.getElementById('sum5');-->
<!--    MyButton5.addEventListener('click', function() {-->
<!--        document.getElementById('Summary5').innerText = "wha'eva m'lady i ain't care hoink"-->
<!--    })-->
<!--</script>-->

<!--<center>-->
<!--<button type="button" class="btn btn-info" id="sum6" style="-->
<!--    background-color: #04AA6D;-->
<!--    color: black;-->
<!--    text-align:center;-->
<!--    text-decoration:none';-->
<!--    display:inline-block;-->
<!--    border-radius: 12px;-->
<!--&lt;!&ndash;    transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -webkit-transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -ms-transform: skew(-30deg);&ndash;&gt;-->
<!--">-->
<!--    Click to see the text of Summary 6-->
<!--</button>-->
<!--</center>-->
<!--<p id="Summary6" style="line-height:1.7;font-size:17px"><b> </b></p>-->

<!--<script>-->
<!--    const MyButton6 = document.getElementById('sum6');-->
<!--    MyButton6.addEventListener('click', function() {-->
<!--        document.getElementById('Summary6').innerText = "sth sth sth sth"-->
<!--    })-->
<!--</script>-->

<!--<center>-->
<!--<button type="button" class="btn btn-info" id="sum7" style="-->
<!--    background-color: #04AA6D;-->
<!--    color: black;-->
<!--    text-align:center;-->
<!--    text-decoration:none';-->
<!--    display:inline-block;-->
<!--    border-radius: 12px;-->
<!--&lt;!&ndash;    transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -webkit-transform: skew(-30deg);&ndash;&gt;-->
<!--&lt;!&ndash;    -ms-transform: skew(-30deg);&ndash;&gt;-->
<!--">-->
<!--    Click to see the text of Summary 7-->
<!--</button>-->
<!--</center>-->
<!--<p id="Summary7" style="line-height:1.7;font-size:17px"><b> </b></p>-->

<!--<script>-->
<!--    const MyButton7 = document.getElementById('sum7');-->
<!--    MyButton7.addEventListener('click', function() {-->
<!--        document.getElementById('Summary7').innerText = "lonasifoeafea j caisaso apspa wo kwae ap efeam fea fae lonasifoeafea j caisaso apspa wo kwae ap efeam fea fae olonasifoeafea j caisaso apspa wo kwae ap efeam fea fae olonasifoeafea j caisaso apspa wo kwae ap efeam fea fae oo"-->
<!--    })-->
<!--</script>-->
<!--<br>-->

{% formfield player.cameras %}
<br>
<p style="line-height:1.7;font-size:17px">


</p>

<center><p style="line-height:1.7;font-size:18px">
    <button id= "Next" class="otree-btn-next btn btn-primary", style="background-color: #04AA6D;  color: white">
        Next
    </button>
    </p></center>


{% endautoescape %}

{% endblock %}

